{% extends "base.html" %}

{% block title %}Network Topology - Trailfinder{% endblock %}
{% block page_title %}Trailfinder - Network Topology{% endblock %}

{% block extra_head %}
<script src="/static/third_party/d3.min.js"
    integrity="sha512-vc58qvvBdrDR4etbxMdlTt4GBQk1qjvyORR2nrsPsFPyrs+/u5c3+1Ct6upOgdZoIl7eq6k3a1UPDSNAQi/32A=="></script>
{% endblock %}

{% block content %}
<div class="controls">
    <button id="refresh-topology">🔄 Refresh Topology</button>
    <button id="reset-zoom">🎯 Reset Zoom</button>
    <label>
        <input type="checkbox" id="hide-device-names"> Hide Device Names
    </label>

    <div class="device-type-filters">
        <div class="filter-checkboxes">
            <label>
                <input type="checkbox" id="filter-router" checked> Router
            </label>
            <label>
                <input type="checkbox" id="filter-switch" checked> Switch
            </label>
            <label>
                <input type="checkbox" id="filter-firewall" checked> Firewall
            </label>
            <label>
                <input type="checkbox" id="filter-accesspoint" checked> Access
                Point
            </label>
            <label>
                <input type="checkbox" id="filter-internet" checked> Internet
            </label>
            <label>
                <input type="checkbox" id="filter-unknown" checked> Unknown
            </label>

        </div>
    </div>
</div>

<div id="topology-container">
    <svg id="topology-svg"></svg>
</div>

<!-- Device Detail Modal -->
<div id="device-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="device-detail-content">
            <div class="loading">Loading device details...</div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/common.js"></script>
<script src="/static/topology-utils.js"></script>
<script src="/static/topology.js"></script>
{% endblock %}